<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Payment Detail Register</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <app-payment-detail-form></app-payment-detail-form>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Card Owner</th>
                    <th>Card Number</th>
                    <th>Exp. Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)">{{pd.cardOwnerName}}</td>
                    <td (click)="populateForm(pd)">{{pd.cardNumber}}</td>
                    <td (click)="populateForm(pd)">{{pd.expirationDate}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.paymentDetailId)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
