<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="paymentDetailId" [value]="service.formData.paymentDetailId" />
    <div class="form-group">
        <label>CARD OWNER NAME</label>
        <input class="form-control form-control-lg" placeholder="Full Name" name="cardOwnerName"
            #cardOwnerName="ngModel" [(ngModel)]="service.formData.cardOwnerName"
            required [class.invalid]="cardOwnerName.invalid && cardOwnerName.touched">
    </div>
    <div class="form-group">
        <label>CARD NUMBER</label>
        <input class="form-control form-control-lg" placeholder="16 Digit Card Number" name="cardNumber"
            #cardNumber="ngModel" [(ngModel)]="service.formData.cardNumber"
            required maxlength="16" minlength="16" [class.invalid]="cardNumber.invalid && cardNumber.touched">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>SECURITY CODE</label>
            <input type="password" class="form-control form-control-lg" placeholder="Security Code" name="securityCode"
                #securityCode="ngModel" [(ngModel)]="service.formData.securityCode"
                required maxlength="3" minlength="3" [class.invalid]="securityCode.invalid && securityCode.touched">
        </div>
        <div class="form-group col-md-6">
            <label>VALIDE THROUGH</label>
            <input class="form-control form-control-lg" placeholder="MM/YY" name="expirationDate"
                #expirationDate="ngModel" [(ngModel)]="service.formData.expirationDate"
                required maxlength="5" minlength="5" [class.invalid]="expirationDate.invalid && expirationDate.touched">
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>
</form>